.va-register {
  width: 600px;
  margin: 0 auto;
}

.va-register-logo {
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}

.va-register-text {
  text-align: center;
  font-size: 18px;
  color: #666;
}

.va-register-logo,
.va-register-text {
  margin-bottom: 30px;
}

.va-register .field {
  margin-bottom: 15px;
}

.va-register label {
  float: left;
  display: block;
  width: 180px;
  margin-right: 30px;
  text-align: right;
}

.va-register input {
  width: 280px;
}

.va-register button {
  margin-left: 210px;
}
